<div class="p-5 text-center ">
  <p class="h6"> Powered by <a href="https://hexo.io/" target="_blank">Hexo</a> ※ Theme is <a
          href="https://github.com/beimengyeyu/hexo-theme-brave" target="_blank">Brave</a></p>
</div>